MANASA_SWETHA

MID_TERM EXAM

Project : Community chat system extension

In this project I am working on a task of ifdentifying which of two systems a company should choose for an upcoming project

IMPORT LIBRARIES

Import the necessary libraries including the cassandra - driver cluster to interact with cassandra using python

In [57]:
import pandas as pd
from cassandra.cluster import Cluster

CONNECTION TO CASSANDRA CLUSTER

In [58]:
clstr=Cluster()
session=clstr.connect()

 CREATE A KEYSPACE NAMED CP1  
 
 Keyspace defines the scope of the data and here we took replication factors as 3 which means the date gets replicated in 3 nodes.

In [59]:
session.execute("CREATE KEYSPACE IF NOT EXISTS CP1 with replication ={'class': 'SimpleStrategy', 'replication_factor':3};")

CREATE TABLE

It defines the schema for users table , here the primary key is uesr_id

In [68]:
create_table_query="""
CREATE TABLE IF NOT EXISTS CP1.user_database(
user_id int PRIMARY KEY,
date INT,
file_type text,
file text,
);
"""

In [69]:
session.execute(create_table_query)

INSERT SAMPLE DATA

Here we inserted the sample data into user_Database. It contains 5 rows of users information such as user_id, date, file_type and content of file .

This data helps to analyse how many users are using the new functionaliy chat extension

In [70]:
session.execute("INSERT INTO CP1.user_database (user_id, date, file_type, file) VALUES (101, 10042023, 'image', 'This is the image of my pet')")
session.execute("INSERT INTO CP1.user_database (user_id, date, file_type, file) VALUES (102, 10052023, 'video', 'This is the video of my wedding')")
session.execute("INSERT INTO CP1.user_database (user_id, date, file_type, file) VALUES (103, 10062023, 'text',  'Green is my favorite color')")
session.execute("INSERT INTO CP1.user_database (user_id, date, file_type, file) VALUES (104, 10072023, 'image', 'This is the image of my dress')")
session.execute("INSERT INTO CP1.user_database (user_id, date, file_type, file) VALUES (105, 10082023, 'text',  'I love being positive')")

CREATE INDEX

In this we created an index on the column date witH CP1 Keyspace

In [71]:
session.execute("CREATE INDEX IF NOT EXISTS project_index ON CP1.user_database (date)")

This shows the result of the database

In [73]:
result = session.execute("SELECT * FROM CP1.user_database")

for row in result:
    print(row)

Row(user_id=105, date=Date(-2137401625), file='I love being positive', file_type='text')
Row(user_id=104, date=Date(-2137411625), file='This is the image of my dress', file_type='image')
Row(user_id=102, date=Date(-2137431625), file='This is the video of my wedding', file_type='video')
Row(user_id=101, date=Date(-2137441625), file='This is the image of my pet', file_type='image')
Row(user_id=103, date=Date(-2137421625), file='Green is my favorite color', file_type='text')

Here we updated the database by changing file type for user_id

In [76]:
session.execute(f""" UPDATE CP1.user_database SET file_type = 'text' where user_id = 104""")

This is the result after updating

In [77]:
result = session.execute("SELECT * FROM CP1.user_database")

for row in result:
    print(row)

Row(user_id=105, date=Date(-2137401625), file='I love being positive', file_type='text')
Row(user_id=104, date=Date(-2137411625), file='This is the image of my dress', file_type='text')
Row(user_id=102, date=Date(-2137431625), file='This is the video of my wedding', file_type='video')
Row(user_id=101, date=Date(-2137441625), file='This is the image of my pet', file_type='image')
Row(user_id=103, date=Date(-2137421625), file='Green is my favorite color', file_type='text')

Here we deleted the row for user_id = 101

In [78]:
session.execute(f""" DELETE from CP1.user_database where user_id = 101""")

This is the result after deleting

In [93]:
result = session.execute("SELECT * FROM CP1.user_database")

for row in result:
    print(row)

Row(user_id=105, date=Date(-2137401625), file='I love being positive', file_type='text')
Row(user_id=104, date=Date(-2137411625), file='This is the image of my dress', file_type='text')
Row(user_id=102, date=Date(-2137431625), file='This is the video of my wedding', file_type='video')
Row(user_id=103, date=Date(-2137421625), file='Green is my favorite color', file_type='text')